@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}
body {
	background:#333;
	overflow:hidden;
} 
div.a,
div.b {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	padding:12px;
	z-index:10;
	color:#FFF;
}
div.b {
	display:none;
}
* {
	background-color: transparent;
	font-family:roboto;
	outline:0;
}
#term {
	width:90%;
	padding:6px;
	font-size:18px;
	border:none;
	color:#FFF;
	border-bottom:2px solid #AAA;
}
button {
	cursor:pointer;
	border:none;
	height:36px;
	padding:16px;
	padding-top:6px;
	border-radius:2pt;
	text-transform:uppercase;
	margin:2px;
	font-weight:550;
	position:relative;
	overflow:hidden;
	background-color:#00bcd4;
	border-bottom:2px solid #04a3b8;
	color:#FFF;
	font-size:18px;
}
.ripple {
	width:0;
	height:0;
	border-radius:50%;
	background:rgba(230,230,230,0.4);
	transform:scale(0);
	position:absolute;
	opacity:1
}
.rippleEffect {
	animation:rippleDrop .4s linear
}
div.wave {
	position:fixed;
	width:100%;
	height:0%;
	background-color:#00bcd4;
	top:0;
	left:0;
	z-index:100000;
}
@keyframes rippleDrop{
	50% {
		transform:scale(2);opacity:1
	}
	100% {
		transform:scale(4);opacity:0
	}
}
.preview {
	background:#00bcd4;
	border:2px solid #04a3b8;
	position:absolute;
	top:10px;
	left:calc(50% - 533px);
}
.imgbutton {
	cursor:pointer;
}